# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Model checkpoints
checkpoints/
models/
*.pth
*.pt

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

#wav files
*.wav